<h1>Registracija</h1>

<%= form_for(@user) do |f| %>
	<div class="polje">
	<%= f.label :name, "Ime" %><br />
	<%= f.text_field :name %>
	</div>
	<div class="polje">
	<%= f.label :surname, "Priimek" %><br />
	<%= f.text_field :surname %>
	</div>
	<div class="polje">
	<%= f.label :email, "e-pošta" %><br />
	<%= f.text_field :email %>
	</div>
	<div class="polje">
	<%= f.label :password, "Geslo" %><br />
	<%= f.password_field :password %>
	</div>
	<div class="polje">
	<%= f.label :password_confirmation, "Ponovi Geslo" %><br />
	<%= f.password_field :password_confirmation %>
	</div>
	<div class="akcija">
	<%= f.submit "Registriraj" %>
	</div>
<% end %>
