<!DOCTYPE html>
<html>
<head>
  <title>Digg - <%= @title %></title>
 <%= render 'layouts/stylesheets' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="content">
		<% flash.each do |key,value|%>
		<div class="flash <%= key %>"><%= value %>
			</div>	
		<% end %>	
		
		<%= yield %>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
